.resetPasswordContainer {
  width: 100%;
  height: 100vh;
  background: white;
  overflow: hidden;


  .resetPasswordWrapper {
    margin: 0 250px auto;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    color: black;

    @media (max-width: 1010px) {
      margin: 0 50px auto;
    }


    h1 {
      font-size: 34px;
      color: #333333;
      font-weight: 900;
      margin-bottom: 18px;
    }

    .Info {
      margin-bottom: 32px;
      font-size: 16px;
      font-weight: 400;
    }

    .emailValue {
      margin-bottom: 38px;
      border: 1px solid #ccc;
      width: 100%;
      max-width: 500px;
      padding: 10px;
      border-radius: 4px;

      span {
        color: #a6a6a6;
      }

      p {
        font-size: 11px;
        margin: 0;
        transform: translateY(-5px);
        color: #8c8c8c;
      }
    }

    .buttonsWrapper {
      display: flex;
      gap: 10px;

      button {
        padding: 12px 16px;
        color: white;
        max-width: 100px;
        width: 100%;
        border-radius: 2px;
        font-weight: 500;
      }

      .save {
        background-color: #0071eb;
      }

      .remove {
        background-color: #ccc;
        color: black;
      }
    }

  }
}