.container {
  padding-top: 64px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: white;

  .wrapper {
    margin: 50px 250px auto;
    color: black;

    .head {
      h1 {
        margin-bottom: 18px;
        font-size: 34px;
        color: #333333;
      }

      h3 {
        font-weight: 400;
        font-size: 16px;
        color: #333333;
        margin: 12px 0 32px 0;
      }
    }

    .error {
      width: 100%;
      max-width: 500px;
      margin-bottom: 20px;
      padding: 10px;
      background: #ffa00a;
      color: white;
      border-radius: 3px;
    }

    .buttonsWrapper {
      display: flex;
      gap: 10px;

      button {
        padding: 12px 16px;
        color: white;
        max-width: 100px;
        width: 100%;
        border-radius: 2px;
        font-weight: 500;
      }

      .save {
        background-color: #0071eb;
      }

      .remove {
        background-color: #ccc;
        color: black;
      }
    }
  }
}